body {
    font-family: Georgia, serif;
    background-color: #024059;
    color: #ffffff;
    margin: 20px 20px 0px 20px;
}

.skip a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip a:focus {
    position: static;
    width: auto;
    height: auto;
}

nav {
    border: 5px double #04BF8A;
    margin: 10px;
}

nav ul li {
    background-color: #025940;
    padding: 20px;
    font-size: 30px;
    
}

a:visited,
a:link {
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.active {
    background-color: #03A64A;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 10px;
    font-weight: bold;
}

h2 {
    text-align: left;
    font-size: 35px;
    padding: 15px;
    background-color: #03A64A;
}

h3 {
    text-align: center;
    font-size: 25px;
    padding: 15px;
    background-color: #03A64A;
}

h4{
    text-align: center;
    font-size: 25px;
    padding: 15px;
    background-color: #03A64A;
}

p {
    font-size: 20px;
    margin: 20pt;
}

img {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

video{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 255, 1) 25%, rgba(0, 102, 255, 1) 70%, rgba(0, 0, 0, 1) 100%);
    border: 5px solid #ffffff;
}

footer p {
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0px;
}

.info_and_picture {
    display: grid;
    border: 5px double #04BF8A;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 25pt;
}

.info_and_picture ul li {
    font-size: 15pt;
    text-transform: capitalize;
    line-height: 2;
    list-style: outside;
}

.image_and_video_gallery {
    display: grid;
    border: 5px double #04BF8A;
    border-radius: 30pt;
    text-align: center;
}

.gallery {
    display: grid;
    border: 5px double #ffffff;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
}

h3+ul li {
    list-style: inside;
    font-size: 15pt;
    background-color: #025940;
    list-style-type: circle;
    padding: 15pt;

}

h3+ol li {
    list-style: inside;
    font-size: 15pt;
    background-color: #025940;
    list-style-type: decimal;
    padding: 15pt;
}

.travel-preview-pictures{
    display: grid;
    border: 5px double #ffff;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.travel-gallery{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
}

.recipe-grid{
    display: grid;
    grid-template-columns: 1fr;
}

@media (prefers-reduced-motion) {
    .header-gif {
        display: none;
    }
}

.recipe-preview{
    border: 5px double #ffffff;
    justify-content: center;
    align-items: center;
    padding: 50pt;
}

h2 + img {
    border: 3px double #ffffff;
}

@media screen and (min-width: 750px) {

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        background-color: #025940;
    }


    .info_and_picture{
        grid-template-columns: 1fr;
    }

    .info_and_picture img{
        width: 100%;
    }

    .image_and_video_gallery{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .info_and_picture ul li {
        list-style: inside;
    }
    
    .recipe-preview img{
        width: 100%;
    }

    .travel-preview-pictures{
        grid-template-columns: 1fr;
    }

    .travel-preview-pictures img{
        width: 100%;
    }
    .travel-gallery{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .pet img{
        width: 100%;
    }
    
    p{
        opacity: 0;
    }

    ul, ol {
        opacity: 0;
    }

    /* p:hover{
        opacity: 1;
        transition: 0.3s;
    } */

    nav ul{
        opacity: 1;
    }

    ul:hover, ol:hover {
        opacity: 1;
        transition: 0.3s;
    }

    .skip a:focus {
        background-color: black;
        font-size: 25px;
    }

    .gallery{
        grid-template-columns: 1fr 1fr;
    }

    .recipe-grid{
        grid-template-columns: 1fr 1fr;
    }


}

@media screen and (min-width: 1024px)
{
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        background-color: #025940;
    }


    .info_and_picture{
        grid-template-columns: 1fr 1fr;
    }

    .info_and_picture img, .pet img, .recipe-preview img, .travel-preview-pictures img{
        width: 50%;
    }

    .image_and_video_gallery{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    .gallery{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .recipe-preview{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .travel-preview-pictures{
        grid-template-columns: 1fr 1fr;
    }

    .travel-gallery{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .recipe-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .skip a:focus {
        background-color: black;
        font-size: 25px;
    }
}